.hero {
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;

    &-left-col {
        width: 45%;
    }

    &-right-col {
        width: 52%;
    }

    &-heading {
        font-size: 4.6rem;
        font-family: "Playfair Display", serif;
        color: var(--color-green);
        margin-top: 0;
        font-weight: 800;
        line-height: 1.05;
        margin-bottom: 1.4rem;
    }

    &-heading-one {
        position: relative;
    }

    &-heading-two {
        color: #16423c;
        position: relative;
        z-index: 2;
    }

    &-heading-line-one,
    &-heading-line-two {
        display: block;
    }

    &-intro-text {
        font-size: 18px;
        font-family: sans-serif;
        line-height: 1.4;
        margin-bottom: 1.2rem;    
    }

    & a {
        text-decoration: none;
        /* color: #000; */
        font-size: 18px;
        font-family: sans-serif;
        margin-top: 1.2rem;    
    }

    &-btn-one {
        background-color: var(--color-green);
        border-radius: 6px;
        padding: 0.5rem 2rem;
        color: white;
        margin-right: 2rem;    
    }

    & .hero-btn-two {
        text-decoration: underline;
        color: var(--color-green);    
    }

    &-illustration-frame {
        width: 100%;
    }
  
  }